doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		
		div.box
			ul
				li 
					a(href='#') 新闻
				li 
					a(href='#') hao123
				li 
					a(href='#') 地图
				li 
					a(href='#') 视频
				li 
					a(href='#') 贴吧
				li 
					a(href='#') 学术
				li 
					a(href='#') 登陆
				li 
					a(href='#') 设置
		div.tu
			img(src="//www.baidu.com/img/bd_logo1.png")
		div.box2
			input(type='text')
			button百度一下
		div.tu2
			img(src='https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/zbios_efde696.png')
			手机百度
		p
			a(href='#') 把百度设为主页
			a(href='#') 关于百度
			a(href='#') About Baidu
			a(href='#') 百度推广
		p
			a(href='#') ©2017 Baidu 使用百度前必读 意见反馈 京ICP证030173号 
			a(href='#') 京公网安备11000002000001号 
